#header {
  height: 40px;
  background: url(../images/img30.png);
  text-align: center;
  padding-top: 10PX;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 10px;
  border-bottom: 2px solid rgb(114, 88, 17);
  margin-bottom: 10px;
}
@keyframes fade {
    /* 定义轮播图的规则，opacity属性指明图片的不透明度 */
    0% {                  /*在百分之零时图片完全不可见*/
        opacity: 0;
    }
    4% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    60% {               /*在此时本张图片显示结束，不透明度设置为0*/
        opacity: 0;
    }
}
.container1 {
  width: 100%;
  height: 270px;
  margin-bottom: 30px;
  /* 设置内左边距像素为15px */
  padding-left: 15px;
}
* {
    margin: 0;
    padding: 0;
}
ul,li {
    list-style: none;
}
.slider-container {
    width: 50%;
    position: relative;
    margin: 0 auto;
    border: 8px solid rgba(156, 17, 7, 0.658);
    border-radius: 15px;
    float: left;
}
  
.slider,.slider-item {
  padding-bottom: 40%;
}
.slider-item {
  position: absolute;
  width: 100%;
  background-size: 100%;
  animation: fade 12s linear; 
  /* linear 表示图片匀速播放 */
  /* 选择infinite标识无穷次数的播放轮播图 */
  animation-iteration-count: infinite;
  opacity: 0;
}
.item1 {
  background-image: url(../images/img4.1.jpg);
  /* 进入即播放 */
  animation-delay: 0s;
}
.item2 {
  background-image: url(../images/img3.jpg);
  /* 3秒后播放 */
  animation-delay: 3s;
}
.item3 {
  background-image: url(../images/img2.jpg);
  /* 6秒后播放 */
  animation-delay: 6s;
}
.slider-container1 {
  width: 50%;
  position: relative;
  border: 8px solid rgba(156, 17, 7, 0.658);
  border-radius: 15px;
  float: left;
}
.item4 {
  background-image: url(../images/img8.jpg);
  animation-delay: 0s;
}
.item5 {
  background-image: url(../images/img9.jpg);
  animation-delay: 3s;
}
.item6 {
  background-image: url(../images/img10.jpg);
  animation-delay: 6s;
}
.item7 {
  background-image: url(../images/img5.png);
  animation-delay: 0s;
}
.item8 {
  background-image: url(../images/img6.jpg);
  animation-delay: 3s;
}
.item9 {
  background-image: url(../images/img7.jpg);
  animation-delay: 6s;
}
.idol {
  width: 45%;
  float: right;
  padding: 0px 15px 10px 0px;
  margin-top: 10px;
  background-image: url(../images/img30.jpg);
}
.idol2 {
  width: 45%;
  float: right;
  padding: 0px 15px 10px 0px;
  margin-top: 0px;
  background: url(../images/img30.jpg);
}
.idol3 {
  width: 45%;
  float: right;
  padding: 0px 15px 10px 0px;
  margin-top: 20px;
  background: url(../images/img30.jpg);
}
.idolintroduction {
  width: 50%;
  text-align: center;
}
.introdaction_title {
  width: 40%;
}
.idol_1 {
  width: 88%;
  height: 200px;
}
.idol_2 {
  width: 95%;
  height: 220px;
}
.idol_3 {
  width: 95%;
  height: 170px;
}
.information {
  display: block;
  text-indent: 2em;
  font-size: 16px;
  line-height: 24px;
  margin: 0px auto;
  padding-left: 15px;
}
#footer {
  /* bottom设置为0，使得页脚区固定在页面底部 */
  bottom: 0;
  height: 100px;
  /* 设置页脚区背景颜色 */
  background-color: rgb(190, 98, 92);
  /* 设置左上边框圆角 */
  border-top-left-radius: 15px;
}
.footer1 {
 width: 70%;
 float: left;
}
.footer1_1 {
 /* 内容居中显示 */
 text-align: center;
 /* 调整字体大小；如当前对行内文本的字体尺寸未被人为设置，则相对于浏览器的默认字体尺寸。 */
 font-size: 0.8em;
 /* 设置文本颜色 */
 color: rgb(175, 180, 180);
 /* 设置字间距为5px */
 letter-spacing: 5px;
 /* 设置行间距为24px */
 line-height: 24px;
 padding-top: 10px;
}
.footer2 {
 width: 30%;
 float: left;
}
.footer2_1 {
 margin-top: 60px;
 margin-right: 10px;
 font-size: 16px;
 /* 字间距设置为5px */
 letter-spacing: 5px;
 color: rgb(175, 180, 180);
}

a:link {
  text-decoration: none;
  color:rgba(156, 29, 7, 0.658);
  font-weight: 600;
}
a:visited {
  color:rgba(156, 29, 7, 0.658);
  font-weight: 600;
}
.final {
  height: 30px;
  background-color: rgb(209, 74, 12);
}