body {
    /* 字体设置，给定多种样式，浏览器依次选择自己能选软的字体 */
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#header {
    height: 60px;
    background: url(../images/img36.jpg);
    /* 设置边框样式 */
    border-bottom: 2px dotted rgb(117, 82, 29);
}
.substract {
    width: 1200px;
    margin: 0 auto;
    /* 设置段落首行缩进 */
    text-indent: 2em;
    color: rgb(110, 79, 41);
    line-height: 24px;
}
.poem {
    margin-top: 10px;
    /* 宽度像素设置为660px,高度像素设置为1250px */
    width: 660px;
    height: 1250px;
    float: left;
    text-align: center;
    /* 设置背景样式，url指明背景图片路径，no-repeat图片不重复 */
    background: url(../images/img37.png) no-repeat;
}
.poem_1 {
    font-size: 24px;
    letter-spacing: 8px;
    /* 设置内容行间距像素为50px */
    line-height: 50px;
    
}
.img_point {
    float: right;
}
.bgm {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.Wel {
    float: right;
}
#footer {
    /* bottom设置为0，使得页脚区固定在页面底部 */
    width: 100%;
    bottom: 0;
    height: 100px;
    /* 设置页脚区背景颜色 */
    background-color: rgba(206, 203, 202, 0.527);
    /* 设置左上边框圆角 */
    border-top-left-radius: 15px;
    float: right;
    margin-top: 20px;
}
.footer1 {
   width: 70%;
   float: left;
}
.footer1_1 {
   /* 内容居中显示 */
   text-align: center;
   /* 调整字体大小；如当前对行内文本的字体尺寸未被人为设置，则相对于浏览器的默认字体尺寸。 */
   font-size: 0.8em;
   /* 设置文本颜色 */
   color: rgb(137, 139, 141);
   /* 设置字间距为5px */
   letter-spacing: 5px;
   /* 设置行间距为24px */
   line-height: 24px;
   padding-top: 5px;
}
.footer2 {
   width: 30%;
   float: left;
}
.footer2_1 {
   margin-top: 60px;
   margin-right: 10px;
   font-size: 16px;
   /* 字间距设置为5px */
   letter-spacing: 5px;
   color: rgb(137, 139, 141);
}
a:link {
    text-decoration: none;
    color: rgb(161, 119, 65);
}
a:visited {
    color: rgb(126, 89, 41);
}
a:hover {
    color: tan;
}
a:active {
    color:rgb(221, 145, 30);
}
